<li>
  <div class="center">
    <i class="material-icons medium text-green">local_library</i>

    <h4 class="gray-text">
      A FARMA e os Objetos de Aprendizagem
    </h4>
    <br>

    <p>
      A FARMA facilita a construção e a aplicação de Objetos de Aprendizagem (OA)
      para o ensino de Matemática. Além disso, ela permite que o professor monitore
      todo o desenvolvimento do aprendiz no uso de um OA, automatizando o processo de
      avaliação (somativa e formativa) e a identificação de dificuldades.  </p>
  </div>
</li>
