<li>
 <div class="center">
  <i class="material-icons medium text-green">play_arrow</i>

  <h4 class="gray-text">
   Comece a utilizar a FARMA
  </h4>
  <br>

  <p>
   Acesse o <%= link_to "Guia do Professor", "#" %> e comece a utilizar a
   FARMA para criar OAs para o ensino da Matemática.  <%=
   link_to "Veja um exemplo de um OA criado com a FARMA", "#" %>.
  </p>
 </div>
</li>
