<li>
  <div class="center">
    <%= fa_icon('play', 'aria-hidden': true, class: 'text-green medium') %>

    <h4 class="gray-text">
      Comece com a FARMA
    </h4>
    <br>

    <p>
      Acesse o <%= link_to "Guia do Professor", "#" %>, comece a utilizar a FARMA e crie OAs para o
      ensino da Matemática.
    </p>
    <p>
      <%= link_to "Veja um exemplo de OA criado com a FARMA", "#" %>
    </p>
  </div>
</li>
