<li>
  <div class="center">
    <i class="material-icons medium text-green">description</i>

    <h4 class="gray-text">
      O Conceito de Objeto de Aprendizagem
    </h4>
    <br>

    <p>
      Um Objeto de Aprendizagem (OA) é "qualquer material digital, como, por exemplo,
      textos, animações, vídeos, imagens, aplicações, páginas web de forma isolada ou
      em combinação, com fins educacionais" (BEHAR et al, 2009). 
    </p>

    <p>
      Ribeiro, Longaray e Behar (2011) completam: "Um OA pode ser qualquer
      material, desde que seja utilizado com fins educativos e embasamento
      pedagógico". 
    </p>

    <p>
      OAs podem ser aplicados na aprendizagem, na educação ou em treinamentos.
      Conseguem abranger os mais diferentes níveis de escolaridade e temas, desde a
      alfabetização até simulações de experimentos químicos (IEEE, 2012; MONTEIRO,
      2009).
    </p>
  </div>
</li>
