<li>
  <div class="center">
    <%= fa_icon('undo', 'aria-hidden': true, class: 'text-green medium') %>

    <h4 class="gray-text">
      O diferencial da retroação
    </h4>
    <br>

    <p>
      O mecanismo de retroação a erros é o maior diferencial da FARMA, permitindo que
      o professor volte exatamente ao contexto de um erro, ou de um acerto. Com isso,
      pode-se realizar uma análise do comportamento que levou o aprendiz àquela
      resposta.
    </p>
  </div>
</li>
