<div id="keyboard-{{id}}" class="keyboard">
  <div class="jax" id="MathOutput-{{id}}">$${}$$</div>
  <!-- Screen and clear key -->
  <div class="top">
    <input id="keyboard-{{id}}-screen" class="screen" type="text" value="" disabled />
    <button class="key waves-effect waves-light clear" data-value="C">C</button>
    <!-- <input type="hidden" id="" id="MathInput"></input> -->
    <!-- <button class="clear material-icons" data-value="<">keyboard_arrow_left</button>
    <button class="clear material-icons" data-value=">">keyboard_arrow_right</button> -->
  </div>

  <div class="keys">
    <!-- operators and other keys -->
    {{#each keys}}
      {{> element}}
    {{/each}}
  </div>

  <div class="keys" id="more">
    {{#each specialKeys}}
      {{> element}}
    {{/each}}
  </div>
</div>
