<div class="card hoverable">
  <div class="card-content">
    <span class="card-title">2015</span>
    <p>Concurso de Teses, Dissertações e Trabalhos de Conclusão de Curso em Informática na Educação<br> (CTD-IE)</p>
    <div class="center">
      <%= image_tag("home/first_place.png") %>
      <p>Sociedade Brasileira de Computação (SBC)</p>
      <a href="">CONFIRA</a>
    </div>
  </div>
</div>
