<%= link_to teacher_path do %>
  <div class="card-panel hoverable col s3">
      <span>Professor</span>
  </div>
<% end %>

<%= link_to student_path do %>
  <div class="card-panel hoverable col s3 push-s6">
      <span>Aluno</span>
  </div>
<% end %>
