<ul>
  <% @tips.each_with_index do |tip, key| %>
    <li class="row">
      <span class="col s12 center">Dica <%= key + 1 %></span>
      <div class="divider col s12"></div>

      <div class="col s12">
        <p><%= tip.content.to_s.html_safe%></p>
      </div>

      <div class="col s12">
        <%= link_to(teacher_lo_exercise_question_tip_path(@lo, @exercise, question, tip),
                      method: :delete, data: { confirm: 'tem certeza disso?' },
                      class: 'btn col s12') do %>
            <span class="center">excluir dica</span>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
