<% provide(:title, "Nova Introdução") %>

<div class="z-depth-1 box-form">
  <h4 class="center">Nova introdução para o <%= @lo.name %></h4>
  <div class="divider"></div>

  <%= render 'form' %>

</div>
