<% provide(:title, "Introdução #{@introduction.title}") %>

<div class="container">
  <%= link_to teacher_test_lo_path(@lo, page: @page),
              class: 'waves-effect waves-light btn',
              target: '_blank' do %>
    Testar OA
  <% end %>
  <div class="divider"></div>
  <article class="paper-sheet">
    <header class="center">
      <h2><%= @introduction.title %></h2>
    </header>

    <%= @introduction.content.html_safe %>
  </article>
</div>

