<% provide(:title, "Introdução #{@introduction.title}") %>

<div class="container">
  <a class="waves-effect waves-light btn">
    Testar OA
  </a>
  <div class="divider"></div>
  <article class="paper-sheet">
    <header class="center">
      <h2><%= @introduction.title %></h2>
    </header>

    <%= @introduction.content.html_safe %>
  </article>
</div>

