<% provide(:title, "Meus OAs") %>

<div class="fixed-action-btn" >
 <%= link_to(new_teacher_lo_path, class: 'btn-floating btn-large pink-red tooltipped',
  'data-position' => 'left', 'data-tooltip' => 'Criar um novo OA') do %>
  <i class="material-icons">add</i>
 <% end %>
</div>

<article class="col s12 row">

  <header>
    <h5 class="col s12 m6 l6">OAs</h5>
    <div class="col s12 m6 l6">
      
    </div>
  </header>

 <div id="los_list" class="col s12 row">
  <%= render @los %>
 </div>

</article>
