<% provide(:title, "OA #{@lo.name}") %>

<div class="fixed-action-btn vertical" >
  <a class="btn-floating btn-large pink-red">
    <i class="large material-icons">mode_edit</i>
  </a>

  <ul>
    <li>
      <%= link_to(new_teacher_lo_exercise_path(@lo), class: 'btn-floating light-pink-color tooltipped',
      'data-position' => 'left', 'data-tooltip' => 'Criar um novo exercicio') do%>
      <i class="material-icons">format_list_bulleted</i>
      <% end %>
    </li>

    <li>
      <%= link_to(new_teacher_lo_introduction_path(@lo), class: 'btn-floating purple-color tooltipped',
      'data-position' => 'left', 'data-tooltip' => 'Criar uma nova introdução') do%>
      <i class="material-icons">text_format</i>
      <% end %>
    </li>
  </ul>
</div>

<article class="col s12 row">
  <h5 class="center"><%= @lo.name %></h5>

  <ul id='list-content-los' class="collection col s12 row">

    <%= render @contents %>

  </ul>

</article>
