version: '3.8'
x-app: &app
  build:
    context: .
    dockerfile: Dockerfile
  volumes:
    - .:/var/www/realstate
    - bundle_path:/bundle
  tmpfs:
    - /tmp
  depends_on:
    - db
  networks:
    - app-network
  stdin_open: true
  tty: true

services:
  web:
    <<: *app
    command: >
      bash -c "
        rm -f tmp/pids/server.pid &&
        bundle exec rails s -p 3000 -b '0.0.0.0'
        " # Removing server.pid is technically a cleanup script
    ports:
      - 3000:3000
    environment:
      RAILS_ENV: development

  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - app-network

volumes:
  pgdata:
    driver: local
  bundle_path:

networks:
  app-network:
    driver: bridge
