<% provide(:title, "Minhas Turmas") %>

<div class="fixed-action-btn" >
 <%= link_to(new_teacher_team_path, class: 'btn-floating btn-large pink-red tooltipped',
  'data-position' => 'left', 'data-tooltip' => 'Criar um nova turma') do %>
  <i class="material-icons">add</i>
 <% end %>
</div>

<article class="teams row">
  <header class="center col s12">
    <h4>Turmas</h4>
  </header>

  <div class="col s12">
    <%= render @teams %>
  </div>
</article>
