<% provide(:title, "Minhas Turmas") %>

<div class="fixed-action-btn" >
 <%= link_to(new_teacher_team_path, class: 'btn-floating btn-large pink-red tooltipped',
  'data-position' => 'left', 'data-tooltip' => 'Criar um nova turma') do %>
  <%= fa_icon('plus', 'aria-hidden': true) %>
 <% end %>
</div>

<article id="teams">
  <header class="center">
    <h1>Turmas</h1>
  </header>
  <div class="row">
    <div id="box-teams">
      <%= split_in_columns(per_row: 3, collection: @teams) do |team| %>
        <%= render team %>
      <% end %>
    </div>
  </div>
</article>
