<% provide :title, "Nova Turma" %>

<div class="card-panel hoverable box-form">
 <div class="row">
   <div class="col s12 center">
     <h2 class="header gray-text2">Nova Turma</h2>
     <p class="gray-text2">Preencha os dados da turma</p>
   </div>
 </div>

 <div class="row ">
   <%= render 'form' %>
 </div>
</div>
