<article>
  <header class="center">
    <h1><%= @team.name %></h5>
  </header>
  <div class="divider"></div>

  <h4>Objetos de Aprendizagem</h4>

  <ul>
    <% @team.los.all.each do |lo| %>
      <li><%= lo.name %></li>
    <% end %>
  </ul>

</article>
