<div class="container">
  <div class="timeline">
    <div class="timeline-event">
      <div class="card blue-grey darken-1 timeline-content">
        <div class="card-content white-text">
          <span class="card-title">02/11/2019 10:12</span>
          <p>Passo 3.2 respondido corretamente $$ 5 $$</p>
        </div>
        <div class="card-action">
          <a href="#">Montar o OA nesse ponto</a>
        </div>
      </div>
      <div class="timeline-badge red lighten-3 white-text"></div>
    </div>

    <div class="timeline-event">
     <div class="card blue-grey darken-1 timeline-content">
        <div class="card-content white-text">
          <span class="card-title">02/11/2019 10:10</span>
          <p>Dica 3 do passo 3.2 usada</p>
        </div>
        <div class="card-action">
          <a href="#">Montar o OA nesse ponto</a>
        </div>
      </div>
      <div class="timeline-badge red lighten-3 white-text"></div>
    </div>

    <div class="timeline-event">
      <div class="card blue-grey darken-1 timeline-content">
        <div class="card-content white-text">
          <span class="card-title">02/11/2019 10:05</span>
          <p>Passo 3.2 respondido incorretamente $$ 2 $$</p>
        </div>
        <div class="card-action">
          <a href="#">Montar o OA nesse ponto</a>
        </div>
      </div>
      <div class="timeline-badge red lighten-3 white-text"></div>
    </div>

    <div class="timeline-event">
      <div class="card blue-grey darken-1 timeline-content">
        <div class="card-content white-text">
          <span class="card-title">02/11/2019 09:50</span>
          <p>Introdução 3 visualizada</p>
        </div>
        <div class="card-action">
          <a href="#">Montar o OA nesse ponto</a>
        </div>
      </div>
      <div class="timeline-badge red lighten-3 white-text"></div>
    </div>

    <div class="timeline-event">
      <div class="card blue-grey darken-1 timeline-content">
        <div class="card-content white-text">
          <span class="card-title">02/11/2019 09:30</span>
          <p>Introdução 2 visualizada</p>
        </div>
        <div class="card-action">
          <a href="#">Montar o OA nesse ponto</a>
        </div>
      </div>
      <div class="timeline-badge red lighten-3 white-text"></div>
    </div>
  </div>
</div>
