<li>

  <div class="collapsible-header">

    <p class="title">
      FARMA: Uma ferramenta de autoria para objetos de aprendizagem de conceitos matemáticos
    </p>

    <p class="authorship">
      <span class="author">Diego Marczal</span>
      <span class="institution">UTFPR - Universidade Tecnológica Federal do Paraná</span>
    </p>

    <span class="icon-arrow">
      <i class="material-icons">keyboard_arrow_down</i>
    </span>
  </div>

  <article class="collapsible-body research_abstract">

      <p><b>Resumo: </b>O problema de construção de objetos de aprendizagem com ferramentas
      de autoria é exposto de maneira crítica. As principais limitações
      das abordagens atuais do ensino de matemática com objetos de aprendizagem
      são apontadas na resenha literária. Uma ferramenta web de autoria,
      com enfoque no conceito de mobilidade tecnológico-educacional, é apresentada
      como alternativa às abordagens pedagógicas existentes que se apoiam
      em aparatos tecnológicos. O erro do aprendiz é destacado como abordagem
      cognitivista central da aprendizagem no contexto da atual versão da
      FARMA. Trabalhos futuros apontam para a coleta de dados de professores
      e aprendizes reais para a validação de objetos de aprendizagem construídos
      com a FARMA.
    </p>

    <span class="right">
      <a href="http://www.google.com" class="right ">Ler artigo completo<i class="mdi-hardware-keyboard-tab left"></i></a>
    </span>
  </article>

</li>
