<ul id='links_user' class='dropdown-content'>
  <li class="clearfix">
    <%= link_to(edit_user_registration_path) do %>
      <i class="mdi-social-person left"></i> Perfil
  <% end %>
  </li>
  <li class="clearfix">
    <%= link_to(destroy_user_session_path, method: :delete) do %>
      <i class="mdi-action-exit-to-app left"></i> Sair
  <% end %>
  </li>
</ul>
