<ul id="process-bars" class='dropdown-content'>
  <li>
    <div class="bar grey">
      <div class="preview-bar green accent-3"></div>
    </div>
  </li>

  <li>
    <div class="bar grey">
      <div class="process-bar green accent-4"></div>
    </div>
  </li>
</ul>
