<ul id="process-bars" class='dropdown-content grey lighten-4'>
  <li>
    <div class="process-bar-percent grey-text lighten-1 clearfix">
      <i class="material-icons green-text accent-3 left">check</i>
      <p><span class="percent">70%</span>% do OA concluído</p>
      <span class="sub">Conteúdo respondido</span>
    </div>
  </li>

  <li>
    <div class="preview-bar-percent grey-text lighten-1">
      <i class="material-icons teal-text lighten-1 left">visibility</i>
      <p><span class="percent">70</span>% do OA explorado</p>
      <span class="sub">Conteúdo somente visualizado</span>
    </div>
  </li>

  <li>
    <div class="not-preview-bar-percent grey-text lighten-1">
      <i class="material-icons left">flag</i>
      <p><span class="percent">70%</span>% do OA inexplorado</p>
      <span class="sub">Conteúdo não visualizado</span>
    </div>
  </li>
</ul>
