<nav>
  <%= link_to("FARMA", root_path, class: "brand-logo center", id: "logo-container") %>
  <div id="button-user" class='btn-large'  data-activates="slide-out">
    <i id="icon_button"class="mdi-hardware-keyboard-tab"></i>
  </div>
</nav>
