<nav class="nav-dashboard">
  <%= image_tag("logo-farma-white.png", class: "brand-logo center size-brand") %>
  <!-- <%= link_to("FARMA", root_path, class: "brand-logo center", id: "logo-container") %> -->
  <div id="button-user" data-activates="slide-out">
    <i id="icon_button" class="mdi-image-dehaze nav-size-icon"></i>
  </div>
</nav>
