/*
 *  Default
 * ________________________________________________________________________________________*/

body {
  background-color: #eeeeee;
}

/*
 *  NavBar
 * ________________________________________________________________________________________*/

nav {
  box-shadow: none !important;
  width: 1250px;
  color: #9e9e9e;

  .img-user {
    margin-top: 3px;
    margin-right: 5px;
  }

  #my-process {
    cursor: pointer;
    margin-right: 50px;
    font-size: 20px;
    height: 64px;
    padding: 0 30px 0 30px;
  }

  #my-process:hover, #my-process.active {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .brand-logo {
    height: 65px;
    width: 65px;

    margin-left: 550px;
  }
}

/*
 *  DropDown progress
 * ________________________________________________________________________________________*/

#process {
  margin-top: 64.4px;

  div {
    padding: 0 30px;

    p {
      margin: 0;
      margin-top: 10px;
    }

    .material-icons {
      margin-top: -15px;
      font-size: 20px;
    }

    .sub {
      font-size: 10px;
    }
  }
}

/*
 *  Prograss Bar
 * ________________________________________________________________________________________*/

.box-process-bar {
  .text {
    height: 50px;
  }

  .bar {
    width: 200px;
    height: 5px;

    border-radius: 10px;
  	/* Declaração para aparecer no Firefox */
  	-moz-border-radius: 10px;
  	/* Para exibir nos outros navegadores como Chrome, safari, opera*/
  	-webkit-border-radius: 10px;

    .process-bar {
      height: 5px;
      margin-top: -5px;

      border-radius: 10px;
    	/* Declaração para aparecer no Firefox */
    	-moz-border-radius: 10px;
    	/* Para exibir nos outros navegadores como Chrome, safari, opera*/
    	-webkit-border-radius: 10px;
    }

    .preview-bar {
      height: 5px;

      border-radius: 10px;
    	/* Declaração para aparecer no Firefox */
    	-moz-border-radius: 10px;
    	/* Para exibir nos outros navegadores como Chrome, safari, opera*/
    	-webkit-border-radius: 10px;
    }
  }
}

/*
 *  Panel lo (Lo browser)
 * ________________________________________________________________________________________*/

#lo-panel {
  position: fixed;
  overflow: auto;
  width: 52px;
  height: 100%;

  #top-panel {
    width: 100%;
    height: 50px;

    i {
      margin: 20px 0 0 13px;
    }
  }

  ul {
    margin-top: 150px;

    li {
      padding: 8px 0 0 13px;
      height: 40px;
    }

    li.active {
      padding: 8px 0 0 10px;
      border-left: 3px solid #1de9b6;
    }

    i {
      font-size: 25px;
      color: #1de9b6;
      margin-left: 2px;
    }

    a i {
      color: #bdbdbd;
    }
  }
}

/*
 *  Contents
 * ________________________________________________________________________________________*/

 #contents {
   margin: 70px 0 0 200px;
   padding: 0;

   h3 {
     margin-top: 0;
   }

   header {
     padding: 70px 70px 10px 70px;
   }

   .content {
     padding: 10px 70px 10px 70px;
   }
 }
