/*
 *  box questions style
 * ______________________________*/

.question {
  margin-top: 100px;
}

/*
 *  test Response
 * ______________________________*/
 .box-response {
   cursor: pointer;
   position: relative;
   border: 5px solid #757575;
   padding-top: 25px !important;
   margin: 20px 0;
   height: 80px;
 }

 .box-response.valid {
   border: 5px solid #43a047;
 }

 .box-response.invalid {
   border: 5px solid #e53935;
 }
