<% provide(:title, "Turmas Abertas") %>

<article id="teams">
  <header class="center">
    <h1>Turmas Abertas</h1>
  </header>
  <div class="row">
    <form id="find-teams" class="col s6 offset-s3 form-find">
      <div class="input-form">
        <input name="query" type="text" />
      </div>

      <button type="submit"><%= fa_icon 'search', class: 'fa-2' %></button>
    </form>

    <div id="box-teams">
      <%= split_in_columns(per_row: 3, collection: @teams) do |team| %>
        <%= render team %>
      <% end %>
    </div>

  </div>
</article>
