<% provide(:title, "Turmas") %>

<article>
  <header class="center">
    <h1>Turmas</h1>
  </header>

  <%= split_in_columns(collection: @teams, per_row: 3) do |team|%>
    <%= render 'team', team: team %>
  <% end %>
</article>
