<%= link_to teacher_path do %>
  <div class="col s3 m3">
    <div class="card">
      <div class="card-image">
        <%= image_tag 'teacher.png' %>
      </div>
      <div class="card-action center">
        Sou professor
      </div>
    </div>
  </div>
<% end %>

<%= link_to student_path do %>
  <div class="col s3 offset-s6 m3 offset-m6">
    <div class="card">
      <div class="card-image">
        <%= image_tag 'student.png' %>
      </div>
      <div class="card-action center">
        Sou estudante
      </div>
    </div>
  </div>
<% end %>
