<% provide(:title, "Dashboard") %>
<h1>Admin::Dashboard#index</h1>
<p>Find me in app/views/admin/dashboard/index.html.erb</p>
>>>>>>> remotes/farma-reborned/farma/master

<%= link_to(destroy_admin_session_path, method: :delete) do %>
    <i class="mdi-hardware-keyboard-tab left"></i> Sair
<% end %>
