<div class="sidebar z-depth-2">
  <ul class="list close">
    <%= active_link_to student_team_lo_path(@team, @lo), wrap_tag: :li, active: :exclusive do %>
      <i class="material-icons">text_format</i>
    <% end %>

    <%= active_link_to student_team_lo_path(@team, 2), wrap_tag: :li, active: :exclusive do %>
      <i class="material-icons">format_list_bulleted</i>
    <% end %>
  </ul>

  <%= link_to student_path, class: 'center', id: 'exit' do %>
    <%= fa_icon "sign-out 2x" %>
  <% end %>
</div>
