<div class="card">
  <div class="card-image">
    <%= image_tag lo.image.url(:thumb), class: "activator image-lo responsive-img"%>
  </div>
  <div class="card-content">
    <span class="card-title">
      <%= truncate_and_set_tooltip(lo.name, length: 10) %>
    </span>

    <%= truncate_and_set_popup(lo.name, lo.description, length: 180, separator: ' ') %>
  </div>
  <div class="card-action">
    <%= link_to 'Visualizar OA', view_lo_page_path(@team.id, lo.id, '1') %>
  </div>
</div>
