/*************************************************************
/* navbar
/*************************************************************/
.user-profile > a img {
  float: left;
  width: 34px;
  height: 34px;
  margin: 13px 8px 0 0;
}

.navbar-fixed {
  a.dropdown-button {
    height: 65px;

    i {
      font-size: 20px;
      margin-left: 5px;
    }
  }

  .dropdown-content li > a > i {
    height: inherit;
    line-height: inherit;
    float: left;
    margin-right: 10px;
    width: 15px;
  }

  img.logo {
    height: 60px;
    margin-top: 2px;
  }
}

/*************************************************************
/* sidebar
/*************************************************************/

div.sidebar {
  // position: fixed;
  overflow: hidden;
  height: 100%;

  ul {
    padding: 20px 0;

    li , li a {
      color: $palletegrey2;
    }

    li.active {
      border-left: 4px solid $palletegreen;
      margin-left: 0;

      a {
  			color: $palletegreen;

        i {
          color: $palletegrey2;
        }
  		}
    }

		li:hover {
			background-color: $palletewhite;
		}

    li {
      padding: 10px 20px;
      clear: both;
      margin-left: 4px;

      i {
        float: left;
        line-height: inherit;
        margin-right: 15px;
      }
    }
  }
}

.main-content:before {
  content: '';
  position: absolute;
  height: 55%;
  top: 20%;
  border-left-width: 1px;
  border-left-style: solid;
}

.main-content .content {
  margin-left: 15px;
}

.show-hidden-sidebar-button i {
  float: none !important;
  margin-left: 15px;
}

/******************** Dropdown sidebar ************************/
div.sidebar li.dropdown:hover {
  background-color: white;
}

div.sidebar li {
  i.more { display: block;}
  i.less { display: none;}
}

div.sidebar li.active {
  i.more { display: none;}
  i.less { display: block;}
}

div.sidebar li.dropdown {
  display: none;

  ul {
    padding: 0;

    li {
      width: 100%;
      border: none;
      float: left;

      div {
        width: 10px;
        height: 10px;
        margin-top: 5px;
        border-radius: 50px;
        margin-right: 15px;
      }
    }

    li.active {
      div {
        background-color: $palletegreen;
      }
    }
  }
}

/**************** Layout fixed sidebar ************************/

#main-content {
  height: 100%;
  overflow: auto;
}

#box-sidebar {
  position: fixed;
  background-color: white;
  height: 100%;
  padding: 0;
}

/*************************************************************
/* Page header
/*************************************************************/
.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.008rem;
  }
}


/*************************************************************
/* Switch workspace
/*************************************************************/

.switch-workspace {
  padding: 0 5px;
  label,
  label:active,
  label input[type=checkbox]:checked + .lever:after,
  label input[type=checkbox]:checked + .lever:active {
    color: $palletewhite;
  }
  label .lever,
  label input[type=checkbox]:checked + .lever {
    background-color: #101519;
  }
}

/*************************************************************
/* Form layout
/*************************************************************/

.box-form {
  position: relative;
  padding: 20px;
  margin-top: 30px;

  .btn-cancel {
    position: absolute;
    top: 5px;
    right: 5px;
    color: $palletegreen;
  }
}

/*************************************************************
/* Form image preview
/*************************************************************/

#box-image-preview .box-image {
  position: relative;
  height: 170px;
  width: 100%;

  .text-box {
    padding: 40px 10px 0 10px;
  }

  img {
    display: none;
    height: 100%;
    width: 100%;
  }

  img.active {
    display: block;
  }

  .file {
    opacity: 0;
    position: absolute;
    top: -5px;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

/*************************************************************
/* breadcrumbs layout
/*************************************************************/
.nav-breadcrumbs {
  span.breadcrumb {
    color: $palletegreen;
  }

  a.breadcrumb {
    color: $palletegrey2;
  }
  .breadcrumb:before {
    color: $palletegreen;
  }
}

/*************************************************************
/* card-panel layout
/*************************************************************/

.card-panel {
  background-color: white;
}

/*************************************************************
/* Form Find
/*************************************************************/

form.form-find {
  position: relative;
  margin-bottom: 40px;

  input[type=text], input[type=text]:focus {
    border: none !important;
    box-shadow: none !important;
    text-align: center;
    margin: 0;
  }

  div.input-form {
    background-color: white;
    border-radius: 30px;
    padding: 0 40px;
  }

  i.material-icons {
    position: absolute;
    top: 7px;
    right: 20px;
    color: $palletegrey2;
  }
}
