<% provide(:title, "Esqueceu a senha?") %>
<% content_for :sub_title do %>
   <p>Preencha o campo abaixo com seu email que enviaremos um link para você criar uma nova senha</p>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <%= f.input :email, required: true, autofocus: true %>
    <%= f.button :submit_materialize, "Envie-me instruções para recuperar a senha" %>

<% end %>
