<div id="lo-panel">
  <div id="top-panel">

  </div>
  <div class="divider"></div>
  <ul>
    <% @contents.each_with_index do |content, index| %>
      <li>
        <% if content.is_a?(Exercise) %>
          <%= link_to_unless_current_page(view_lo_page_path(@team, @lo, index + 1)) do %>
            <i class="material-icons">format_list_bulleted</i>
          <% end %>
        <% else %>
          <%= link_to_unless_current_page(view_lo_page_path(@team, @lo, index + 1)) do %>
            <i class="material-icons">text_format</i>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
