<div class="row">
  <div class="col s12 center">
  	<h2 class="header gray-text2">Novo Membro</h2>
  	<p class="gray-text2">Preencha os dados do membro</p>
  </div>
</div>
  
<%= render 'form' %>

<%= link_to("Voltar" ,admin_developers_path, class: 'btn') %>