<section id="home-page-awards" class="section container">

  <header class="center">
    <i class="material-icons text-green medium">school</i>
    <h4>Prêmios</h4>
  </header>

  <div class="row">
    <div class="col s12 center">
      <div class="chip awards-chip">
        <span>
          2015
        </span>
      </div>
      <span>
        Prêmio por ser a aplicação mais linda da face do planeta Terra!
      </span>
      <p>
        pela @CBIE
      </p>
    </div>
  </div>

</section>
