<section id="home-page-awards" class="section container scrollspy">

  <header class="center">
    <%= image_tag("home/awards.png", class: "img-icon") %>
    <h4>Prêmios</h4>
  </header>

  <div class="row">

    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-content">
          <h5 class="card-title">2015</h5>
          <p>
            Concurso de Teses, Dissertações e Trabalhos de Conclusão de Curso
            em Informática na Educação (CTD-IE)
          </p>
          <p>
            <b>1º colocado na categoria Tese</b> 
          </p>
          <div class="center">
            <%= image_tag("home/first_place.png") %>
            <p>Sociedade Brasileira de Computação (SBC)</p>
            <a href="http://www.br-ie.org/pub/index.php/wcbie/article/view/5928">CONFIRA</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-content">
          <h5 class="card-title">2010</h5>
          <p>
            Concurso de Teses, Dissertações e Trabalhos de Conclusão de Curso
            em Informática na Educação (CTD-IE)
          </p>
          <p>
           <b>3º colocado categoria Dissertação</b>
          </p>
          <div class="center">
            <%= image_tag("home/third_place.png") %>
            <p>Sociedade Brasileira de Computação (SBC)</p>
            <a href="http://www.proativa.virtual.ufc.br/sbie2010/Anais_do_XXI_SBIE/CTD-IE-MS.html">CONFIRA</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-content">
          <h5 class="card-title">2009</h5>
          <p>
            Melhor Artigo do Workshop de Informática na Escola (WIE)
          </p>
          <p>
            <b>2º lugar</b>
          </p>
          <div class="center">
            <%= image_tag("home/second_place.png") %>
            <p>Sociedade Brasileira de Computação (SBC)</p>
            <a href="http://www.br-ie.org/pub/index.php/wie/article/view/2154">CONFIRA</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
