<section id="parallax-banner" class="section parallax-container top-container box-1 scrollspy">

  <div class="section no-pad-bot">
    <div class="container content-container pull-down ">
      <div class="col s12 l6 offset-s3">

         <article>

           <header class="center-align">
             <%= link_to(image_tag("logos/logo-farma-black.png", class: "logo"), root_path,
                         class: "brand-logo logo") %>

             <h1 class="gray-text">
               FARMA: Ferramenta de Autoria para a Remediação de Erros com
               Mobilidade na Aprendizagem
             </h1>
           </header>

           <p class="gray-text description">
            Crie e aplique os mais diversos tipos de objetos de aprendizagem
            para o ensino de Matemática. Se você é professor, monitore o
            desempenho e as dificuldades dos seus alunos. Se você é aprendiz acompanhe
            sua performance, identifique suas dificuldades e receba feedbacks sobre
            sua interação.
           </p>

           <div class="center move-btn">
               <%= link_to "começe já", new_user_session_path, class: "waves-effect waves-light btn-large tooltipped",
                           "data-position" => "bottom", "data-delay" => "50",
                           "data-tooltip" => "Acessar o sistema FARMA" %>
           </div>

         </article>

      </div>
    </div>
    <div class="parallax"><%= image_tag("home/farma-01.jpg") %></div>
  </div>

</section>
