<section id="home-page-goal" class="section container center-align box-5">
  <h4 class="gray-text">
    Objetivos da Farma
  </h4>

  <div class="row">
    <div class="col s12 m6 l6">
      <i class="material-icons text-green medium ">note_add</i>
      <p class="gray-text ">
        Permitir a construção de OAs para o ensino da matemática por
        professores leigos em programação.
      </p>
    </div>

    <div class="col s12 m6 l6">
      <i class="material-icons text-green medium ">view_day</i>
      <p class="gray-text ">
        Proporcionar um ambiente para construção de OAs matemáticos que seja
        de fácil utilização.
      </p>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row">
    <div class="col s12">
      <i class="material-icons text-green medium ">highlight_off</i>
      <p class="gray-text ">
        Incentivar o uso do erro como uma forma de aprendizagem, por meio das
        possibilidades:
      </p>
    </div>

    <div class="col s12 m6 l3">
      <i class="material-icons text-green medium ">find_in_page</i>
      <p class="gray-text ">
        Do professor poder analisar os erros e acertos dos aprendizes.
      </p>
    </div>

    <div class="col s12 m6 l3">
      <i class="material-icons text-green medium ">undo</i>
      <p class="gray-text">
        Do professor e/ou aprendiz retroceder aos erros e acertos.
      </p>
    </div>

    <div class="col s12 m6 l3">
      <i class="material-icons text-green medium ">chat</i>
      <p class="gray-text ">
        Permitir a troca remota de mensagens entre professores e aprendizes
        sobre os erros e acertos.
      </p>
    </div>

    <div class="col s12 m6 l3">
      <i class="material-icons text-green medium ">supervisor_account</i>
      <p class="gray-text ">
        Monitorar o desempenho do aprendiz pelo uso de OAs.
      </p>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row">
    <div class="col s12 m6 l3">
      <i class="material-icons text-green medium ">trending_up</i>
      <p class="gray-text ">
        Incentivar o desenvolvimento gradual da
        capacidade de abstração do aprendiz.
      </p>
    </div>

    <div class="col s12 m6 l3">
      <i class="material-icons text-green medium ">done</i>
      <p class="gray-text ">
        Incentivar a remediação de erros.
      </p>
    </div>

    <div class="col s12 m6 l3">
      <i class="material-icons text-green medium ">account_balance</i>
      <p class="gray-text ">
        Permitir mobilidade educacional.
      </p>
    </div>

    <div class="col s12 m6 l3">
      <i class="material-icons text-green medium ">star</i>
      <p class="gray-text ">
        Promover avaliação formativa.
      </p>
    </div>
  </div>

</section>
