<section id="home-page-researchs" class="section container">
 <div class="center">
  <i class="material-icons text-green medium">school</i>
  <h4>Pesquisas sobre a FARMA</h4>
  <br>
 </div>

 <div class="row">
  <div class="col s12">
   <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
    <li>
     <div class="collapsible-header">
      <table>
       <tr>
        <td>
         <b>FARMA: Uma ferramenta de autoria para objetos de aprendizagem de conceitos matemáticos</b>
         <br>
         <p>Diego Marczal
          <small>
             UTFPR - Universidade Tecnológica Federal do Paraná
          </small>
         </p>
        </td>
        <td>
         <i class="material-icons">keyboard_arrow_down</i>
        </td>
       </tr>
      </table>
     </div>
     <div class="collapsible-body research_text">
      <div class="row">
       
        <ul class="tabs menu-research">
         <li class="tab col s3"><a href="#resume"><i class="mdi-action-description left"></i>Resumo</li>
         <li class="tab col s3"><a href="#awards"><i class="mdi-toggle-star left"></i>Prêmios</li>
        </ul>
      

       <div id="resume" class="col s12">
        <p>O problema de construção de objetos de aprendizagem com ferramentas
           de autoria é exposto de maneira crítica. As principais limitações
           das abordagens atuais do ensino de matemática com objetos de aprendizagem
           são apontadas na resenha literária. Uma ferramenta web de autoria,
           com enfoque no conceito de mobilidade tecnológico-educacional, é apresentada
           como alternativa às abordagens pedagógicas existentes que se apoiam
           em aparatos tecnológicos. O erro do aprendiz é destacado como abordagem
           cognitivista central da aprendizagem no contexto da atual versão da
           FARMA. Trabalhos futuros apontam para a coleta de dados de professores
           e aprendizes reais para a validação de objetos de aprendizagem construídos
           com a FARMA.
        </p>
        <a href="http://www.google.com" class="right ">Ler artigo completo<i class="mdi-hardware-keyboard-tab left"></i></a>
       </div>

       <div id="awards" class="col s12 center">
        <p>
         <b>2015</b>
         Concurso de Teses, Dissertações e Trabalhos de Conclusão de Curso em Informática na Educação (CTD-IE) - (1º colocado na categoria Tese), Sociedade Brasileira de Computação (SBC);</p>
       </div>

      </div>
     </div>
    </li>
   </ul>
  </div>
 </div>

</section>
