<section id="home-page-researchs" class="section container scrollspy">

  <header class="center">
    <i class="material-icons text-green medium">school</i>
    <h4>Pesquisas sobre a FARMA</h4>
  </header>

  <div class="row">
    <div class="col s12">
      <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">

        <%= render partial: 'home/researchs/research', collection: researchs  %>

      </ul>
    </div>
  </div>

</section>
