<section id="home-page-slider" class="section container scrollspy">
  <div class="slider">
    <ul class="slides">
       <%= render 'home/slides/description' %>
       <%= render 'home/slides/oa' %>
       <%= render 'home/slides/manual' %>
    </ul>
  </div>
</section>
