<section id="home-page-subjects" class="parallax-container valign-wrapper box-3 section scrollspy">
  <div class="section no-pad-bot">
    <div class="container center-align">

      <h4>
        Com a flexibilidade que a FARMA disponibiliza, construa Objetos de
        Aprendizagem para:
      </h4>

      <div class="row">
        <div class="col s12 m6 l4">
          <%= image_tag("home/farma-matematica.png", class: "item-size responsive-img") %>
        </div>

        <div class="col s12 m6 l4">
          <%= image_tag("home/farma-fisica.png", class: "item-size responsive-img") %>
        </div>

        <div class="col s12 m6 l4">
          <%= image_tag("home/farma-quimica.png", class: "item-size responsive-img") %>
        </div>

        <h4>
          ou qualquer conteúdo que envolva expressões aritiméticas e/ou algébricas.
        </h4>
      </div>

    </div>

    <div class="parallax"><%= image_tag("shared/farma-03.jpg") %></div>
  </div>
</section>
