<section id="home-page-team" class="section container box-4 scrollspy">
 <h4 class="center-align gray-text">
  Equipe de desenvolvimento
 </h4>
 <br>

 <div class="row">
  <%= render partial: "developer", collection: @developers %>
 </div>
 
 <div class="center move-btn">
 <%= link_to "Outros desenvolvedores", team_path, class: "waves-effect waves-light btn-large tooltipped",
   "data-position" => "bottom", "data-delay" => "50",
   "data-tooltip" => "Ver todos os desenvolvedores que participaram do farma" %>
</div>

</section>

