<section id="home-page-team" class="section container box-4">
  <h4 class="center-align gray-text">
    Equipe de desenvolvimento
  </h4>

  <div class="row">

    <div class="col s12 m4">

      <!-- MEMBRO 01  -->
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag("farma-04.jpg", class: "activator") %>
        </div>

        <div class="card-reveal">
          <span class="card-title white-text">
            Darlan<i class="material-icons right">close</i>
          </span>

          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
