/*************************************************************
*  Layout
**************************************************************/

/*************************************************************
/* los index styles - card lo
/*************************************************************/

#los .card {
  width: 200px;
  margin-left: 20px;
  float: left;
  position: relative;

  .activator {
    cursor: pointer;
  }

  .card-content {
    position: absolute;
    top: 85px;
    width: 100%;
    z-index: 1;
    padding: 0;
    color: white;
    text-shadow: 2px 2px #000;
    top:0px;
    background: rgba(0, 0, 0, 0.35);
    height: 100%;

    .card-title {
        margin: 0;
        padding: 10px;
        font-size: 18px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-55%);
        transform: translateY(-55%);
    }
  }

  .card-reveal {
    padding: 5px;
    background-color: $palleteblue2;
    color: white;

    i.close {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      font-size: medium;
    }

    p.content {
      margin: 10px;
      text-align: left;
      font-size: small;
    }

    .card-title p {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 20px;
      color: white;
    }

    .actions {
      position: absolute;
      bottom: 4px;
      color: white;
    }

    .destroy { right: 20px; }
    .edit { right: 90px; }
    .show { left: 20px; }
  }
}

/*************************************************************
/* lo show styles - list content los
/*************************************************************/

#list-content-los {
  padding: 0;
}

#list-content-los li {
  padding: 10px 10px;
}

#show-questions {
  margin: 10px 0;
  a {
    color: #039be5;
  }
}

.question-form-component {
  background-color: white;
  padding: 20px;

  h3 {
    color: #9E9E9E;
  }
  .image_preview {
    background-color: #00D055;
    color: white;
  }
  .file_preview.active{
    border: none;
  }
  textarea.materialize-textarea{
    font-size: 14pt;
  }
  input[type=text]{
    font-size: 14pt;
  }
}

/*************************************************************
/* lo show styles - Introduction
/*************************************************************/
#new_introduction button.btn,
#new_exercise button.btn {
  margin-top: 10px;
}

/*************************************************************
/* Contesnts LO (Introduction and Exercises)
/*************************************************************/

.paper-sheet {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 20px 30px;
  color: $palletegrey2;

  img {
    max-width: 100%;
    height: auto;
  }
}

#steps-app {
  padding: 10px 0;
}

/*************************************************************
/* Team index styles - Team
/*************************************************************/

#new_team {
  margin-bottom: 0;
}

/**************************************************************/
/****************** tabs - index teams ************************/
/**************************************************************/

ul.tabs {
  background: none;
  overflow: hidden;
}

/**************************************************************/
/****************** team - index teams ************************/
/**************************************************************/

.fa.fa-lightbulb-o.active {
  color: #ffee58;
}

.collection .collection-item.has-error:first-child {
  border-top: 1px solid $palletered;
}

.collection .collection-item.has-error {
  border-bottom: 1px solid $palletered;
  border-left: 1px solid $palletered;
  border-right: 1px solid $palletered;
}

.collection .collection-item.valid:first-child {
  border-top: 1px solid $palletegreen2;
}

.collection .collection-item.valid {
  border-bottom: 1px solid $palletegreen2;
  border-left: 1px solid $palletegreen2;
  border-right: 1px solid $palletegreen2;
}

.btn-floating.btn-large.answer-open {
  position: absolute;
  margin-top: -45px;
}

.collection.answers {
  display: none;
}

.spinner {
  display: block;
  position: fixed;
  left: 45%;
  top: 45%;
}

div.team {
  padding: 0 20px;

  div.card {
    div.card-content {
      padding: 10px 0 0 0;
      color: $palletegrey2 !important;
    }

    div.card-content.information { margin-bottom: 50px;}

  /****************** card-action (registered)*******************/

    div.card-action {
      background-color: $palletegreen2;

      a {
        color: $palleteblack !important;
        margin-right: 0 !important;
      }

      &.remove {
        background-color: $palletepink2;

        a {
          color: $palletewhite !important;
        }
      }

      &.edit {
        background-color: $palletegrey3;
      }
    }
  }
}

 #form-add-lo {
   margin-left: 50px;
 }
