// Place all the styles related to the workspace/exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  margin: 0;
}

.fixed-modal-btn {
  position: fixed;
  top: 100px;
  right: 2%;
  z-index: 2;

  .modal {
    display: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }
}

.btn-clicked .btn-floating {
  display: none;
}

.btn-clicked .modal {
  display: block;
}

#box-form-question {
  display: none;
}
.collection {
  position: static;
}

.show-question {
  cursor:pointer;
}

.to-move {
  height: 36px;
  cursor: image-url("cursor_move.png"), default;
}

#box-links-question {
  margin-bottom: 0;
}

.ajax-question-box {
  display: none;
}
