// Place all the styles related to the los controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
* Los pages styles
* ______________________________*/
.container .row {
  margin-left: 0;
}

/*
* los index styles - list los
* ______________________________*/

#los_list li{
  background: white;
}

span {
  font-size: 16px;
}

.lo-box {
  .divider  {
    margin: 0;
  }

  div a{
    margin-top: 10px;
  }
}

.span-created-at {
  font-size: 12px;
  color: #bdbdbd;
}

.collection-item .title {
  font-size: 20px;
}

/*
* lo show styles - list content los
* ______________________________*/
#list-content-los {
  padding: 0;
}

#list-content-los li {
  padding: 10px 10px;
}

#show-questions {
  margin: 10px 0;
}

/*
* Card content los
* ______________________________*/
.card {
  margin-left: 6.132698916%; // (58 * 100) /945.750
  padding: 0 !important;
}

.card-content {
  max-height: 90px;
  i{
    color: $palletegrey2;
    font-size: 29px;
    margin: -10px;
  }
}

.activator i.material-icons {
  position: absolute;
  bottom: 30px;
  right: 2px;
  cursor: pointer;
}

.card-reveal {
  position: relative;
  p{
    text-align: justify;
  }

  .link_card {
    position: absolute;
    bottom: 10px;
    color: #BFC0C1;
  }

  .delete {
    right: 20px;
  }

  .update {
    right: 60px;
  }

  .show {
    right: 100px;
  }
}
#card-form{
  h5{
    color: #9E9E9E;
  }
  .image_preview {
    background-color: #00D055;
    color: white;
  }
  .file_preview.active{
    border: none;
  }
  textarea.materialize-textarea{
    font-size: 14pt;
  }
  input[type=text]{
    font-size: 14pt;
  }
}
