// Place all the styles related to the los controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Question show styles
 * ______________________________*/

.box-question-content {
  padding: 2% 2% !important;
  margin: 1% 0 1% 4%;
  border: 1px solid #d1d1d1;
}

#article-tips {
  .divider {
    margin-bottom: 20px;
  }
}
