// Place all the styles related to the los controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Question show styles
 * ______________________________*/

.box-question-content {
  padding: 2% 2% !important;
  margin: 1% 0 1% 4%;
}

#article-tips {
  .divider {
    margin-bottom: 20px;
  }
}

#questions_list li.collection-item {
  border-left: 12px solid green;
  border-bottom: 5px solid green;
}
