// Place all the styles related to the teacher/teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-team {
  position: relative;
  margin-left: 60px;
  border-radius: 10px;
  padding: 40px 0 !important;

  .title {
    margin-bottom: 20px;
  }

  .material-icons {
    position: absolute;
    top: 0;
    right: 0;

    color: black;
  }
}

#form-add-lo {
  margin-left: 50px;
}
