// Place all the styles related to the los controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.box-tip {
  margin: 10px 0;
  background-color: white;
  border: 1px solid #d1d1d1;

  .box-tip-content {
    border: 1px solid #d1d1d1;
    padding: 10px;
  }
}

.box-show-tips {
  position: relative;
  padding-top: 15px;
  border: 1px solid #d1d1d1;
  height: 250px;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .col {
    padding-left: 0 ;
    padding-right: 0 ;
  }

  i {
    margin-top: 70px;
  }

  p {
    margin-bottom: 20px;
  }

  .box-bottom {
    position: absolute;
    bottom: 0;
  }
}
