// Place all the styles related to the los controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.box-tip {
  margin: 5px 0;
  border-radius: 5px;
  padding: 5px;

  .text-multiply{
    opacity: 0.75;
  }

  .box-tip-content {
  }
  span{
    .col{
      .s12{
        margin-right: -590px;
      }
    }
  }
}
