<% provide(:title, "Novo Exercicio") %>

<div class="z-depth-1 box-form">
  <h4 class="center">Novo Exercicio para o OA <%= @lo.name %></h4>
  <div class="divider"></div>
  <%= render 'form' %>
</div>
