<article>
  <header class="center">
    <h5><%= @exercise.title %> - Questões</h5>
  </header>

  <span class="center"><%= @exercise.content.to_s.html_safe %></span>

  <div class="divider"></div>

  <div id="react-app"></div>
</article>
