<% provide(:title, "Introdução #{@exercise.title}") %>

<div class="container-fluid">
  <ul class="collapsible">
    <li>
      <div class="collapsible-header center"><h2><%= @exercise.title %></h2></div>
      <div class="collapsible-body paper-sheet">
        <%= @exercise.content.html_safe %>
      </div>
    </li>
  </ul>

  <div class="divider"></div>
  <h2 class="center">Passos</h2>
  <div class="divider"></div>
  <div id="steps-app" data-exercise-id="<%= @exercise.id %>"></div>
</div>
