<div class='fixed-modal-btn'>
  <%= link_to(new_teacher_lo_exercise_question_path(@lo, @exercise),
              class: 'btn-floating btn-large pink-red tooltipped',
              'data-position' => 'left', 'data-tooltip' => 'Criar uma nova Questão',
              remote: true) do %>
      <i class="large material-icons">add</i>
  <% end %>

  <div class="modal red z-depth-1 center"></div>
</div>

<article>
  <header class="center">
    <h5><%= @exercise.title %> - Questões</h5>
  </header>

  <span class="center"><%= @exercise.content.to_s.html_safe %></span>

  <ul id="questions_list" class="collection col s12">
    <%= render @questions %>
  </ul>

</article>
