<% if request.env['PATH_INFO'].match( /student/ ) %>
  <%= link_to teacher_path do %>
    <div id="switch-page" class="switch">
      <label>
        Professor
        <input type="checkbox" CHECKED >
        <span class="lever"></span>
        Aprendiz
      </label>
    </div>
  <% end %>
<% else %>
  <%= link_to student_path do %>
    <div id="switch-page" class="switch">
      <label>
        Professor
        <input type="checkbox">
        <span class="lever"></span>
        Aprendiz
      </label>
    </div>
  <% end %>
<% end %>
