<span class="col s12">Conteúdo:</span>

<div class="box-question-content col s11">
  <%= @question.content.to_s.html_safe %>
</div>

<div class="col s12">
  <span class="left">Resposta Correta:</span>
  <p><%= @question.correct_answer %></p>
</div>
