<!-- <form class="col s12" action="<%= @action %>" method="POST" data-remote="true">
  <div class="row">
    <div class="input-field col s6">
      <input id="question_<%= @question.id %>_response" type="text" value="" name="response">
      <label for="question_response">Testar Resposta</label>
    </div>

    <button type="submit" class="btn">Testar</button>
  </div>
</form> -->
<!-- <div class="col s12 row">
  <div class="border">
    <div class="box-response center">
      <span>Testar Resposta</span>
    </div>
  </div>
</div> -->
<div id="test-response-<%= @question.id %>">
  <%= @question.math_comparison.render(action: @action, id: "question_#{@question.id}_response") %>
</div>
