<article id="los-content" class="container">
  <header class="center">
    <h3><%= @lo.name %></h3>
  </header>
  <div class="divider"></div>

  <div id="content">
    <%= @contents[0] %>
  </div>
</article>
