/*************************************************************
* Vendors
**************************************************************/
@import 'font-awesome'; // http://fontawesome.io/icons/


/*************************************************************
* Configurations
**************************************************************/
@import "config/materialize_base";
@import "materialize/components/dropdown";
@import "lib/variables_and_functions";

/*************************************************************
* Vendors stylesheets
**************************************************************/
@import "toastr.min";

/*************************************************************
* Custom and bugs fix from materialize
**************************************************************/
@import "customizations/materialize.scss";
@import "customizations/toastr.scss";

/*************************************************************
* Apps stylesheets
**************************************************************/
@import "shared/layout";
@import "admin/colors";
@import "admin/custom";
