<div id="keyboard-{{id}}" class="keyboard">

  <div class="top">
    <button type="button" class="btn key waves-effect waves-light clear" data-value="C">Limpar</button>
    <div class="jax" id="MathOutput-{{id}}">$${}$$</div>
    <button type="button" class="btn key waves-effect waves-light submit" data-value="Send">Enviar<i class="material-icons right">send</i></button>
  </div>

  <div class="clearfix" id="board">

    <div id="tries">
      <%= @tips_count %>
    </div>

    <div class="keys" id="default-keys">
      <div id="delimiters">
        {{#each delimiters}}
        {{> element}}
        {{/each}}
      </div>
      <!-- operators and other keys -->
      <div id="operators">
        {{#each keys}}
        {{> element}}
        {{/each}}
      </div>
    </div>

    <div id="special-keys">

      <div id="separator"></div>

      <div class="modifiers">
        <ul>
          <li data-id="functions-keys">FUNÇÕES</li>
          <li data-id="matrix-keys">MATRIZES</li>
          <li data-id="trig-keys">TRIGONOMETRIA</li>
        </ul>
        <div id="advanced-keys">
          <div id="function-keys" hidden>
            {{#each function}}
              {{> element}}
            {{/each}}
          </div>
          <div id="matrix-keys" hidden>
            Matrizes
          </div>
          <div id="trig-keys" hidden>
            Trigonometria
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="show-direct-input"><></div>

  <div class="direct-input" hidden>


    <textarea id="keyboard-{{id}}-screen" class="screen" value="" placeholder="LaTeX puro aqui!" hidden></textarea>
    <textarea id="kb-{{id}}-tex" class="screen screen-tex" placeholder="Fórmulas LaTeX"></textarea>
  </div>

</div>
