/*************************************************************
* Vendors
**************************************************************/
@import 'font-awesome'; // http://fontawesome.io/icons/
@import 'lib/circle';

/*************************************************************
* Configurations
**************************************************************/
@import "config/materialize_base";
@import "materialize/components/dropdown";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/tabs";


/*************************************************************
* Vendors stylesheets
**************************************************************/
@import "toastr.min";

/*************************************************************
* Custom and bugs fix from materialize
**************************************************************/
@import "customizations/materialize.scss";
@import "customizations/toastr.scss";

/*************************************************************
* Apps stylesheets
**************************************************************/
@import "shared/layout";
@import "student/colors";
@import "student/custom";
