/*************************************************************
* Layout
**************************************************************/
body {
	background-color: $palletewhite;
}

/*************************************************************
* navbar
**************************************************************/

div.navbar-fixed nav {
	background-color: white;

	ul {
		li, li a, li label {
			color: $palletegrey2;
		}
	}
}

/**************************************************************/
/*********************** typography ***************************/
/**************************************************************/
 h1,h2,h3,h4,h5,h6,p,span { color: $palletegrey2; }
