/*************************************************************
* Layout
**************************************************************/
body {
	background-color: $palletewhite;
}

/*************************************************************
* navbar
**************************************************************/

div.navbar-fixed nav {
	background-color: white;

	ul {
		li, li a, li label {
			color: $palletegrey2;
		}
	}
}
