/*************************************************************
* card-lo - show team
**************************************************************/

.card-lo {
  background-color: white;
  margin-bottom: 20px;
  padding: 0 !important;
  height: 13.56vw;

  .card-content {
    position: relative;
    height: 100%;
    padding: 20px 30px 10px 30px;

    h4, p {
      margin: 0;
      text-align: justify;
      color: $palletegrey2;
    }

    p {
      font-size: 0.9em;
    }

    p.last-view {
      position: absolute;
      bottom: 0;
      color: $palletegrey3;
    }
  }

  .card-image {
    padding: 0;
    height: 100%;

    img {
      height: 100%;
    }
  }

  .card-progress {
    padding-left: 2.859430401%; //30*100/1049.160
    padding-top: 2vw;

    .circle-bar {
       font-size: 10vw; //1286 * 1/100
    }
  }
}


/*__________________________________VIEW LO ___________________________________________________________*/

/**************************************************************/
/********************** NAVBAR ********************************/
/**************************************************************/

#active-sidebar {
  width: 8.33333vw; //col s2
  padding-top: 5px;
  cursor: pointer;
}

#nav-lo-name {
  margin-left: 20px;
  p { margin: 0; }
}

/**************************************************************/
/********************** progress bar **************************/
/**************************************************************/

#progress-lo-bar {
  width: 220px;
  position: relative;

  div.bar {
    position: absolute;
    width: 200px;
    height: 5px;
    background-color: $palletegrey3;
    bottom: 18px;
    left: 10px;
    border-radius: 10px;

    .progress-bar {
      float: left;
      height: 100%;
      width: 60%;
      background-color: $palletegreen;
      border-radius: 10px;
    }

    .view-bar {
      height: 100%;
      width: 80%;
      background-color: #9feabe;
      border-radius: 10px;
    }
  }
}


/**************************************************************/
/********************** side_navbar****************************/
/**************************************************************/

#exit {
  width: 100%;
  padding: 10px 0;
  height: 50px;
  position: absolute;
  bottom: 64px;
  background-color: $palletegreen2;
  color: $palletegrey2;
}
