<div class="exercise-header paper-sheet z-depth-1">
  <span>Exercise <%= exercise.index %></span>
  <h2 class="title"><%= exercise.title %></h2>

  <%= exercise.content.html_safe %>
</div>

<%= render exercise.questions %>
