<footer id="home-page-footer" class="page-footer">
  <div class="row">

    <div id="contact_form">
      <%= render 'home/form_contact_us' %>
    </div>

  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Projeto desenvolvido no programa de Pós-graduação da Universidade Federal do Paraná.
      <a class="grey-text text-lighten-4 right" href="http://utfpr.edu.br/">UTFPR</a>
    </div>
  </div>
</footer>
