<div class="col m6 s12">
  <h5>Objetivos da FARMA</h5>
  <div class="divider"></div>
  <ul class="collection">
    <li class="collection-item">Permitir a construção de Objetos de Aprendizagem matemáticos</li>
    <li class="collection-item">Incentivar a construção de OAs na área matemática por parte dos professores</li>
    <li class="collection-item">Proporcionar um ambiente para construção de OAs matemáticos que seja de fácil utilização</li>
    <li class="collection-item">Incentivar o uso do erro como uma forma de aprendizagem, por meio das possibilidades:
      <ul class="collection">
        <li class="collection-item">Do professor poder analisar os erros e acertos dos aprendizes</li>
        <li class="collection-item">Do professor e/ou aluno retroceder aos erros e acertos dos aprendizes</li>
        <li class="collection-item">Permitir a troca remota de mensagens entre professores e aprendizes sobre os erros e acertos</li>
      </ul>
    </li>
    <li class="collection-item">Oferecer mecanismos que permitam a construção de exercícios que incentivem desenvolvimento gradual da capacidade de abstração do aprendiz</li>
    <li class="collection-item">Incentivar a remediação de erros por meio de dicas elaboradas</li>
    <li class="collection-item">Permitir mobilidade educacional</li>
    <li class="collection-item">Promover avaliação formativa</li>
  </ul>
</div>
