<div class="col m6 s12">

  <h5>Objetivos da FARMA</h5>
  
  <div class="divider"></div>

  <ul>
    <li>Permitir a construção de OAs para o ensino da matemática por professores leigos em programação.</li>
    <li>Proporcionar um ambiente para construção de OAs matemáticos que seja de fácil utilização.</li>
    <li>Incentivar o uso do erro como uma forma de aprendizagem, por meio das possibilidades:
      <ul>
        <li>Do professor poder analisar os erros e acertos dos aprendizes;</li>
        <li>Do professor e/ou aluno retroceder aos erros e acertos dos aprendizes;</li>
        <li>Permitir a troca remota de mensagens entre professores e aprendizes sobre os erros e acertos;</li>
        <li>Monitorar o desenvolvimento do aprendiz pelo uso de OAs.</li>
      </ul>
    </li>
    <li>Construir exercícios que incentivem desenvolvimento gradual da capacidade de abstração do aprendiz.</li>
    <li>Incentivar a remediação de erros.</li>
    <li>Permitir mobilidade educacional.</li>
    <li>Promover avaliação formativa.</li>
  </ul>

</div>
