// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
 * Vertical menu 
 * ______________________________*/
#button-user {
  position: absolute;
  left: 275px;
  top: 35px;
  i { // Rotate icon
    -ms-transform: rotate(180deg);     /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
}

#button-user.active_painel { // slide button
  left: 0;
}

#icon_button.active_painel {    // Rotate Icon
  -ms-transform: rotate(0);     /* IE 9 */
  -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
  transform: rotate(0);
}

#slide-out { //_____ Painel
  width: 300px;
  height: 100%;
  float: left;
}

#painel {//_____ Card_Painel
  width: 100%;
  height: 170px;
  position: relative;
  background-color: rgba(0, 200, 43, 0.51);
}

#img-user { //_____ User Image
  width: 30%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 5%;
}

#button_links_user {
  margin: 20% 2% 0 0;
  position: absolute;
  color: white;
  width: 50%;
  right: 5%;
  #box_name_user{
    width: 80%;
  }

  i{
    float: right;
    font-size: 2rem;
  }
}

#links_user {
  top: 65% !important;
}
