#home-sidebar {
  position:fixed;
  right: 2%;
  top: 10%;
  z-index: 200;

  li {
    padding-bottom: 10%;
  }

  li:hover a {
    color: rgb(89, 255, 0);
  }

  a {
    color: black;
    font-size: 30px;
    padding: 5px;
  }

  .active {
    border-right: 5px solid rgb(89, 255, 0);
  }

}

.backdrop {
  background-color: rgba(255,255,255,0);
}

.material-tooltip span{
  color: black;
  font-size: 24px;
}
