// Place all the styles related to the los controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#los-path-logo {
  width: 4em;
}

#start-now {
  margin-left: 35.409981188%; //320/903.7 * 100
}

#los-content {
  margin-top: 100px;
}

#los-content #contents {
  background-color: white;
  height: 460px;
  overflow:auto;

  p {
    text-align: justify;
  }

  .response {
    margin: 30px;
    padding: 23px 38px;
    width: 150px;
    height: 70px;
    border: 1px solid black;
    cursor: pointer;
    background-color: $palletewhite;
  }
}
