// Place all the styles related to the los controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#los-path-logo {
  width: 4em;
}

#start-now {
  margin-left: 35.409981188%; //320/903.7 * 100
}

#los-content {
  margin-top: 100px;

  .card {
    width: 200px;
  }

  .card-content .card-title .material-icons {
    margin-top: 13px;
  }

  .card-reveal {
    padding: 5px;

    p {
      text-align:justify;
    }

    a {
      position: absolute;
      bottom: 0;
      right: 10px;
    }
  }
}
