// Place all the styles related to the los controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_lo{
  margin-top: 20px;
}

#OAs ul{
  display: none;
}

.list-active{
  display: block !important;
}
