<p>
  Seja bem-vindo, <%= @resource.name %>!
</p>

<p>
  Para ter acesso a ferramenta, você deve confirmar sua conta de email clicando
  no link abaixo:
</p>

<p>
  <%= link_to 'Confirmar minha conta', confirmation_url(@resource, confirmation_token: @token) %>
</p>
