<ul id='dropdown_progress' class='dropdown-content'>
  <li>
    <a class="progress-lo-bar center">
      <span>Meu rendimento</span>

      <div class="bar">
        <div class="progress-bar" data-percent="70"></div>
        <div class="view-bar" data-percent="80"></div>
      </div>
    </a>
  </li>

  <li class="bar-description clearfix">
    <i class="material-icons left progress-desc">check</i>
    <span class="left">70% do OA concluído</span></br>
    <p>conteúdo respondido corretamente</p>
  </li>

  <li class="bar-description clearfix">
    <i class="material-icons left view-desc">visibility</i>
    <span class="left">80% do OA concluído</span></br>
    <p>conteúdo respondido</p>
  </li>

  <li class="bar-description clearfix">
    <i class="material-icons left">flag</i>
    <span class="left">20% do OA concluído</span></br>
    <p>conteúdo não respondido</p>
  </li>
</ul>
