.fa-6 { font-size: 20em !important; }
.fa-5 { font-size: 16em !important; }
.fa-4 { font-size: 7em !important; }
.fa-3 { font-size: 4em !important; }
.fa-2 { font-size: 2em !important; }
.fa-1 { font-size: 1em !important; }
