@import "lib/variables_and_functions";

/*************************************************************
* Fixed bug on show autofill fields
**************************************************************/
input:-webkit-autofill {
	&,
	&:hover,
	&:focus,
	&:active {
		-webkit-box-shadow: inset 0 0 0 500px white !important;
	}
	+label {
		font-size: 0.8rem;
		-webkit-transform: translateY(-140%);
		transform: translateY(-140%);
	}
}

/*************************************************************
* Ajust checkbox field on form
**************************************************************/
p.checkbox-wrapper {
  margin-left: -10px;
  margin-bottom: 25px !important;
  margin-top: 0;
}

/*************************************************************
* Materialize divider
**************************************************************/
.divider {
    margin: 10px;
}

/*************************************************************
* Titles
**************************************************************/
h1 {
    font-size: 2.1rem; // 4.2
    margin: 1.05rem 0 .84rem 0; // 2.1 0 1.68
}

h2 {
    font-size: 1.78rem; // 3.56
    margin: .89rem 0 0.712rem 0; // 1.78  1.424
}

h3 {
    font-size: 1.46rem; // 2.92
    margin: .73rem 0 .584rem 0; // 1.46 1.168
}

h4 {
    font-size: 1.14rem; // 2.28
    margin: .57rem 0 0.456rem 0; // 1.14 .912
}

h5 {
    font-size: .82rem; // 1.64
    margin: .41rem 0 .328rem 0; // .82 .656
}

h6 {
    font-size: 0.5rem; // 1
    margin: .25rem 0 .2rem 0; // 0.5 0.4
}

/*************************************************************
* Classes
**************************************************************/

.white-text {
  color: $palletewhite;
}

.gray-text {
  color: $palletegrey;
}

.gray-text2 {
  color: $palletegrey2;
}

.text-green {
  color: $palletegreen;
}

.text-orange{
  color: #FF5722;
}

.gradient-white {
  background: rgba($palletewhite,1);
  background: -moz-linear-gradient(top, rgba($palletewhite,1) 0%, rgba($palletewhite,1) 8%, rgba($palletewhite,0.69) 28%, rgba($palletewhite,0) 51%, rgba($palletewhite,0.69) 74%, rgba($palletewhite,1) 88%, rgba($palletewhite,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($palletewhite,1)), color-stop(8%, rgba($palletewhite,1)), color-stop(28%, rgba($palletewhite,0.69)), color-stop(51%, rgba($palletewhite,0)), color-stop(74%, rgba($palletewhite,0.69)));
  background: -webkit-linear-gradient(top, rgba($palletewhite,1) 0%, rgba($palletewhite,1) 8%, rgba($palletewhite,0.69) 28%, rgba($palletewhite,0) 51%, rgba($palletewhite,0.69) 74%, rgba($palletewhite,1) 88%, rgba($palletewhite,1) 100%);
  background: -o-linear-gradient(top, rgba($palletewhite,1) 0%, rgba($palletewhite,1) 8%, rgba($palletewhite,0.69) 28%, rgba($palletewhite,0) 51%, rgba($palletewhite,0.69) 74%, rgba($palletewhite,1) 88%, rgba($palletewhite,1) 100%);
  background: -ms-linear-gradient(top, rgba($palletewhite,1) 0%, rgba($palletewhite,1) 8%, rgba($palletewhite,0.69) 28%, rgba($palletewhite,0) 51%, rgba($palletewhite,0.69) 74%, rgba($palletewhite,1) 88%, rgba($palletewhite,1) 100%);
  background: linear-gradient(to bottom, rgba($palletewhite,1) 0%, rgba($palletewhite,1) 8%, rgba($palletewhite,0.69) 28%, rgba($palletewhite,0) 51%, rgba($palletewhite,0.69) 74%, rgba($palletewhite,1) 88%, rgba($palletewhite,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeeef', endColorstr='#edeeef', GradientType=0 );
  opacity: 1.5;
}

/*************************************************************
* Form constumizations
**************************************************************/
.help-block {
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
  color: #737373;
  font-size: 0.8rem;
}

p.checkbox-wrapper {
  margin-left: -10px;
  margin-bottom: 25px !important;
  margin-top: 0;
}

form, .form {
  margin-top: 15px;

  .input-field label {
    color: $palletegrey2;
  }

  input[type=text], input[type=password], input[type=email],
  input[type=url], input[type=time], input[type=date],
  input[type=datetime-local], input[type=tel], input[type=number],
  input[type=search], textarea.materialize-textarea,
  input[type=email]:focus:not([readonly]), input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid $palletegrey2;
  }

  .has-error {
    input[type=text], input[type=password],
    input[type=email], input[type=url], input[type=time],
    input[type=date], input[type=datetime-local], input[type=tel],
    input[type=number], input[type=search], textarea.materialize-textarea {
      border-bottom: inherit;
    }
  }

  .input-submit button {
    margin-top: 10px;
  }

  .has-error span {
    color: $input-error-color;
  }

  .has-error input, .has-error input:focus, .has-error textarea.materialize-textarea {
    border-bottom: 1px solid $input-error-color;
    box-shadow: 0 1px 0 0 $input-error-color;
  }

  .has-error input:focus, .has-error textarea.materialize-textarea:focus {
    border-bottom: 1px solid rgba(244, 67, 54, 0.49) !important; // error transparent
    box-shadow: 0 1px 0 0 rgba(244, 67, 54, 0.49) !important;
  }

  label.ckeditor {
    top: -20px ;
  }

  .ck.ck-editor {
    margin-bottom: 20px;
  }
}

a.btn-cancel {
  margin-left: 10px;
}

/*************************************************************
* Modal constumizations
**************************************************************/

.modal {
	text-align: justify;
	word-wrap: break-word;
}
