#devise-page, #workspace-page {
  background: image_url('shared/farma-session-background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  background-color: $palletegreen;

  .brand-logo {
      width: 5%;
      margin: 5px;
  }

  .card-panel {
    margin-bottom: 10px;
  }

  .main-content {
    margin-top: 100px;
  }

}
