#devise-page, #workspace-page {
  background-image: image_url('shared/farma-session-background.png');
  background-size: cover;
  background-position: top;
  background-color: $palletegreen;

  .brand-logo {
      width: 5%;
      margin: 5px;
  }

  .card-panel {
    margin-bottom: 10px;
  }

  .main-content {
    margin-top: 100px;
  }

}
