<div class="card-panel hoverable box-form">
 <div class="row">
   <div class="col s12 center">
     <h2 class="header gray-text2">Nova pesquisa</h2>
     <p class="gray-text2">Preencha os campos da nova pesquisa</p>
   </div>
 </div>

 <div class="row ">
   <%= render 'form' %>
 </div>
</div>
